@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "../Styles/Style-Variables/variables.scss";
@import "../Styles/Tasks.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-fonts;
  background-color: $body-color;
  color: $body-text-color;
}